*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

**.vs

**.db*

# User-specific files
*.log
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
src/Business/Business.Transactions/Margento.Business.Transactions.IntegrationTests/Log/
src/Application/Urbana/Margento.Urbana.WebAPI/Log/
src/VNext.MT.sln
